{% extends '/layouts/main.html' %}

{% block title %}About{% endblock %}
{% block description %}Results for {{ query }}{% endblock %}
{% block keywords %}Search, page, {{ query }}{% endblock %}

{% block content %}
	<div class="section-center">
		<div class="row row-offcanvas row-right">
		<div class="container">
				<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="panel">
				<div class="panel-heading">
					{% if query != '' %}
						<h2 class="text-center peter">Results for {{ query }}</h2>
					{% else %}
						<h2 class="text-center peter">Empty request</h2>
					{% endif %}
				</div>
				<div class="panel-body">
					{% if query != '' %}
						{% if posts.count != 0 %}
							{% for post in posts %}
								<p class="text-center fara-sans"><a href="{{ path_for('post', {id: post.id}) }}">{{ post.title }}</a></p>
							{% endfor %}
						{% else %}
							<h2 class="text-center fara-sans">Nothing found</h2>
						{% endif %}
					{% else %}
						<h2 class="text-center fara-sans">Request is empty!</h2>
					{% endif %}
				</div>
				</div>
			</div>
			</div>
		</div>
		<hr class="hund">
		</div>
	</div>
{% endblock %}